<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log Robô</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static', filename='style/style.css')}}">
    <link href="https://fonts.googleapis.com/css2?family=Noticia+Text&display=swap" rel="stylesheet">
</head>
<body>

    <div id="select-robo-div">
        <form action="{{ url_for("log.log_display") }}" method="post">
            <label for="select-robo">Escolha o robô do qual deseja consultar o log:</label>
            <select class="form-control" id="select-robo">
                <option>Default select</option>
                {% for banco, tarefas in robos.items() %}
                    {% for tarefa, idRobo in tarefas.items() %}
                        <option value={{ idRobo }}"name={{ tarefa.capitalize() }}>
                            {{ banco.title() + " " + tarefa.capitalize() }}
                        </option>
                    {% endfor %}
                {% endfor %}
            </select>
            <input type="submit" value="Submit">
        </form>
    </div>
    {% if logs %}
        <div class="container-fluid table-area">
            <table class="table table-responsive table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">DataConsulta</th>
                        <th scope="col">DataFim</th>
                        <th scope="col">IdContrato</th>
                        <th scope="col">IdSolicitacao</th>
                        <th scope="col">Status</th>
                        <th scope="col">Log</th>
                    </tr>
                </thead>
                <tbody>
                    {% for log in logs %}
                    <tr class="{% if loop.index % 2 == 0 %}bg-light{% endif %}">
                        <td>{{ log.dataConsulta }}</td>
                        <td>{{ log.dataFim }}</td>
                        <td>{{ log.fk_idContrato }}</td>
                        <td>{{ log.fk_idSolicitacao }}</td>
                        <td class="{% if log.status == 0 %}status-erro{% elif log.status == 2 %}status-ok{% endif %}">{{ log.status }}</td>
                        <td>{{ log.log }}</td>
                    </tr>
                </tbody>
                    {% endfor %}
            </table>
        </div>
    {% endif %}
</body>
</html>