/contratos
/pdfs
captchas/
__pycache__/
geckodriver.log
.vscode
.sonarlint
data.json
*.pkl
debug.log
.idea
sites/oleConsignado/anexos/*
.dump
test_requests.ipynb
/test_notebooks
sites/portalsaopaulo/test.py
sites/portalsaopaulo/1.jpg
*.log
/venv/
#__init__.py
*.jpg
*.pdf
/testes
/VM_automacao
sites/pan/legado
sites/oleConsignado/legado
build
refact
setup.py
*.egg-info
*.exe
*.tar.gz
*.jpeg
python
*.whl
*.TMP
*.rej
sites/bkups
/drivers/
PATHS.py
/sites/chrome_user_dir/*
cookies/*
/cookies/*