setproctitle
PyPDF2
unidecode
pillow
fuzzywuzzy
requests
selenium
pyautogui
flask
json_encoder
opencv-python-headless
PyInquirer
click
pdfkit
wkhtmltopdf
pikepdf
tinydb
pandas
PyInquirer
click
selenium
requests
pyautogui
pikepdf
psutil
goto-statement
pymysql
pygal
fitz
pymupdf
qrtools
pyzbar
tkinter
PyInquirer
click
selenium
requests
Pillow
fuzzywuzzy
pymysql
tinydb
pdfkit
unidecode
pyperclip
pygal
setuptools
pillow
selenium
flask
pikepdf
PyPDF2<3.0